@import "./_reset";
@import "./_variable";
@import "./chat.scss";
@import "./game.scss";
@import "./player.scss";
// @import "./login.scss";



* {
box-sizing: border-box;
}
  
button:focus {
outline: none;
}
  
html {
height: 100%;
}
body{
    background-color: #3465A4;
    display: flex;
    max-width: 1200px;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    .loginStatus,
    .logoutStatus{
        display: none;
    }
    &.login{
        .loginStatus{
            display: flex;
        }
    }
    &.logout{
        .logoutStatus{
            display: flex;
        }
    }
}